* {
	font-family: "osefin Slab", serif;	
}

body {
	background-color: #cedbe6;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li_nav {
    float: left;
}

.a_nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

.Clogo {
	float: left;
	margin: 15px;
}

.Clist {
	list-style: none;
}

textarea {
    width: 450px;
    height: 150px;
}

.title {
    width: 150px;
    height: 30px;
}

.button_green {
    background-color: green;
    width: 136px;
    height: 40px;
}

.created {
    color: #32bcfb;
    float: right;
    font-size: .7em;
}

.post {
    background-color: #c9eafb;
}

.both {
    border-style: outset;
}

.comment {
    background-color: #e2f0fd;
}
.username {
    color: #8a2be2;
    border-style: double;
    border-color: black;
}

.username_c {
    color: #8a2be2;
    border-style: double;
    border-color: black;
}










