<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>mohy blog</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body>
		<header>
			<ul class="nav">
			  <li class="li_nav"><a class="active a_nav" href="/">Home</a></li>
			  <li class="li_nav"><a class="a_nav" href="#contact">Contact</a></li>
			  <li class="li_nav"><a class="a_nav" href="#about">About</a></li>
			</ul>
		</header>
		<h1>welcome to mohy blog </h1>
		{% block html %}
		
		{% endblock %}
		<hr style="border-width: 3px">
		<footer id="contact">
			<h2>contact</h2>
			<ul class="Clist">

				<li class="Clogo"><a href="https://github.com/engmohy90/"><img width="48" height="48" alt="github_logo" src="/static/images/github.svg"></a></li>
				<li class="Clogo"><a href="https://www.linkedin.com/in/engmohyeldean/"><img width="48" height="48" alt="linkedin_logo" src="/static/images/linkedin.svg"></a></li>
				<li class="Clogo"><a href="engmohy90@gmail.com"><img width="48" height="48" alt="gmail_logo" src="/static/images/gmail.svg"></a></li>
				<li class="Clogo"><a href="https://www.facebook.com/mohyEldean0"><img width="48" height="48" alt="facebook_logo" src="/static/images/facebook.svg"></a></li>

			</ul>

		</footer>
	</body>
</html>