<form method="post">
<div class="both">
	<div class="post">
		<span class="created"> CREATED AT :{{data.created.strftime("%b %d, %Y")}}</span>
		<h2><span class="username">{{data.username}}</span></h2>
		<h3>{{data.title}}</h3>
		<p>{{data.content}}</p>
		<button name="like" value="{{data.key.id()}}">like</button>
		<span>{{data.nlike}}</span>
		<button name="unlike" value="{{data.key.id()}}">unlike</button>
		<span>{{data.nunlike}}</span>

		<button name="del" value="{{data.key.id()}}">delete</button>
		<button name="edit" value="{{data.key.id()}}">edit</button>
		<hr>
	</div>
	<div class="comment">
	{% for c in comments %}
	
		<h5 ><span class="username_c">{{c.c_username}}</span></h5>
		<p>{{c.comment}}</p>
		<button name="comdel" value="{{c.key.id()}}">delete</button>
		<button name="comedit" value="{{c.key.id()}}">edit</button>
		<hr>
	
	{% endfor %}
	</div>

	<h3>add comment</h3>
	<textarea name = "comment">{{i}}</textarea>
	<br>
	<button type="submit" name = "post_id" value="{{data.key.id()}}">comment</button>
</div>
</form>
<hr style="border-width: 3px">